<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">

            <div class="card-body p-4">
              <div class="text-center">

                <img class="img-fluid" src="./assets/img/brand/logo.png">
              </div><br>


              <div class="card">

                <div class="card-body">

                  <p class="text-justify ">Votre compte Robbin a été créé avec succès, il ne vous reste plus qu’à l’activer.
                    Pour cela, cliquez sur le lien d’activation contenu dans le mail qui vous a été envoyé.
                </div>
              </div>







              <a routerLink="/" >Je n’ai pas reçu de mail</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
