<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-star"></i> Ajouter un assurance
    </div>
    <div class="card-body">
      <div class="row text-center">
        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a routerLink="/loginAss">
            <img class="img-circle face" src='assets/img/brand/image001.png' width="60px" height="60px">
            <h6>
              <b>
                <i>Groupama</i>
              </b>
            </h6>
          </a>
        </div>

        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a routerLink="/loginAss">
            <img class="img-circle face" src='assets/img/brand/image004.png' width="60px" height="60px">
            <h6>
              <b>
                <i>MAAF</i>
              </b>
            </h6>
          </a>
        </div>

        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a routerLink="/loginAss">
            <img class="img-circle face" src='assets/img/brand/image005.png' width="60px" height="60px">
            <h6>
              <b>
                <i>MMA</i>
              </b>
            </h6>
          </a>
        </div>

        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a routerLink="/loginAss">
            <img class="img-circle face" src='assets/img/brand/image006.png' width="60px" height="60px">
            <h6>
              <b>
                <i>Matmut</i>
              </b>
            </h6>
          </a>
        </div>

        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a routerLink="/loginAss">
            <img class="img-circle face" src='assets/img/brand/image011.jpg' width="60px" height="60px">
            <h6>
              <b>
                <i>MAIF</i>
              </b>
            </h6>
          </a>
        </div>

        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a routerLink="/loginAss">
            <img class="img-circle face" src='assets/img/brand/image0012.png' width="60px" height="60px">
            <h6>
              <b>
                <i>AXERIA</i>
              </b>
            </h6>
          </a>
        </div>

        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a routerLink="/loginAss">
            <img class="img-circle face" src='assets/img/brand/image0013.jpg' width="60px" height="60px">
            <h6>
              <b>
                <i>HELVETIA</i>
              </b>
            </h6>
          </a>
        </div>

        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a routerLink="/loginAss">
            <img class="img-circle face" src='assets/img/brand/image0016.jpg' width="60px" height="60px">
            <h6>
              <b>
                <i>PRIMA </i>
              </b>
            </h6>
          </a>
        </div>

        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a routerLink="/loginAss">
            <img class="img-circle face" src='assets/img/brand/image0015.png' width="60px" height="60px">
            <h6>
              <b>
                <i>AXA</i>
              </b>
            </h6>
          </a>
        </div>

        <div class="col-xl-2 col-md-1 col-sm-3 col-4 mb-2">
          <a [routerLink]="['/loginAss', { release: 5, lang: 'EN' }]">
            <img class="img-circle face" src='assets/img/brand/direct_assurance.png' width="60px" height="60px">
            <h6>
              <b>
                <i>Direct Assurance</i>
              </b>
            </h6>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>