<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
             <!-- <h1 class="text-center">Robbin</h1>-->


                <div class="card">

                  <div class="card-body">
                    <p class="text-center "><br><br><br><br><img class="img-fluid" src="./assets/img/brand/logo.png"> <br><br><br><br><br></div>
                </div>





              <button type="button" routerLink="/register" class="btn btn-block btn-success">Créer mon compte</button>
              <button type="button" routerLink="/login" class="btn btn-block btn-primary">Me conncter</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
